* {
	margin: 0;
	padding: 0;
}

body {
  margin-top: 15px;
}

section {
	padding-top: 50px;
	position: relative;
	/*background: url(../public-img/public-background .jpg) center center;*/
	font-family: "Microsoft YaHei","Segoe UI", "Lucida Grande", Helvetica, Arial,sans-serif;
}

header {
  background: url(../public-img/nav-background.png);
}

p {
	line-height: 28px;
}

.navbar {
  background: url(../../index-img/nav-background.png) center center;
  background-size: cover;
}



.space {
	height: 50px;
}

.media-object {
    transform: scale(0.8);
}

#mynavbar {
	margin-top: 5px;
}

.navbar-header>a>img {
  width: 160px;
}

.navbar {
	height: 65px;
}

.nav>li {
    background-color: #82949c;
    border-radius: 25px;
}

.scroll-top  {
	background: rgba(0,0,0,0.2);
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

header .navbar-header .navbar-brand,
header .navbar-nav li a {
	font-size: 17px;
	height: 50px;
	line-height: 21px;
  border-radius: 25px;
	font-family: "微软雅黑"；
}

/*.navbar-nav li a:hover {
  font-size: 20px;
  color: #3d5351;
}*/

.navbar-header .navbar-brand {
	font-size: 20px;
	padding: 0;
}

.navbar-brand.checkbox.checkbox-slider--b-flat.checkbox-slider-md {
	margin-top: 22px;
	margin-left: 0;
}

.form-group,
.btn {
	margin-top: 10px;
}

footer {
	/*height: 130px;*/
	background-color: #82949c;
}

.foot-text {
	color: #FFFFFFFF;
  font-family: "weiruanyahei";
}

.about_us {
	color:#FFFFFF;
	font-family: "楷体";
}

.row {
	margin: 0;
	/*background-color: #f6f6f5;*/
}

#public-box {
	position: relative;
	width: 100%;
}

#public-box .col-md-12 {
	box-shadow: 0 2px 8px 0 #939694;
	margin: 71px 0 0 0;
	border-radius: 10px;
	width: 100%;
	position: relative;
	background-color: #ffffff;
}

#background-top {
	width: 100%;
}

#title {
	z-index: 5;
	margin-top: 71px;

}

header .col-md-12 {
	padding: 0;
}

#turnback {
		width: 65px;
		height: 65px;
		position: fixed;
		z-index: 5;
		bottom: 105px;
		right: 54px;
		background: rgba(0,0,0,0);
		border-radius: 50%;
		display: none;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		transition: .8;
		-webkit-transition:.8;
	}

.turnback {
	width: 100%;
	height: 100%;
	position: relative;
}

.turnback a {
	text-decoration: none;
}

.turnback-text {
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	content: '';
	border-radius: 50%;
	background-color: #82949c;
	transition: all 0.2s;
	cursor: pointer;
	opacity: 0;

}

.turnback-text span {

	display: block;
    margin-top: 12%;
    font-size: 20px;
}

#turnback:hover .turnback-text {
	opacity: 1;
}

.about_us {
  color:#FFFFFF;
  font-family: "楷体";
}

.about-us {
  color:#FFFFFF;
  font-family: "楷体";
  display: flex;
  align-items:center;
  margin-top: 5%;
}

.about-us img,
.about-us h4 {
  padding-right: 0;
  padding-left: 0
}

@media (max-width: 780px) and (min-width: 970px){
	#title {
		margin-left: 8px;
	}
}

 @media screen and (max-width: 592px){
		#bg_music_btn {
		    position: fixed;
		    right: 80px;
		    top: 80px;
		    z-index: 50;
		    visibility: visible;
		}

		#music-btn {
			width: 50px;
		}

		#turnback {
		width: 65px;
		height: 65px;
		position: fixed;
		z-index: 5;
		bottom: 105px;
		right: 54px;
		background: rgba(0,0,0,0);
		border-radius: 50%;
		display: none;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		transition: .8;
		-webkit-transition:.8;
	}
}

@media screen and (max-width: 1029px) and (min-width: 768px) {
	.navbar-nav li a {
		font-size: 13px;
		height: 60px;
		line-height: 37px;
	}

	#mynavbar {
	    margin-top: 0;
	}
}

@media screen and (max-width: 916px) and (min-width: 768px) {
	.nav>li>a {
	    position: relative;
	    display: block;
	    padding: 10px 4px;
	}
}

/*******************************************************
Variables
*******************************************************/
/*******************************************************
Animation
*******************************************************/
@-webkit-keyframes popIn {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(1.2, 1);
            transform: scale(1.2, 1);
  }
  50% {
    -webkit-transform: scale(1.4, 1);
            transform: scale(1.4, 1);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@keyframes popIn {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(1.2, 1);
            transform: scale(1.2, 1);
  }
  50% {
    -webkit-transform: scale(1.4, 1);
            transform: scale(1.4, 1);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@-webkit-keyframes popOut {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(1.2, 1);
            transform: scale(1.2, 1);
  }
  50% {
    -webkit-transform: scale(1.4, 1);
            transform: scale(1.4, 1);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@keyframes popOut {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(1.2, 1);
            transform: scale(1.2, 1);
  }
  50% {
    -webkit-transform: scale(1.4, 1);
            transform: scale(1.4, 1);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@-webkit-keyframes splashIn {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  25% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 0.8;
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: .9;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes splashIn {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  25% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 0.8;
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: .9;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes splashOut {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.8;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: .9;
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 1;
  }
}
@keyframes splashOut {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.8;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: .9;
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 1;
  }
}
/*******************************************************
Main Slider basics
*******************************************************/
.checkbox-toggle {
  position: relative;
}
.checkbox-toggle input {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 0%;
  margin: 0 0;
  cursor: pointer;
  zoom: 1;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}
.checkbox-toggle input + span {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.checkbox-toggle input + span:before {
  position: absolute;
  left: 0px;
  display: inline-block;
}
.checkbox-toggle input + span > h4 {
  display: inline;
}
/*******************************************************
Main Slider
*******************************************************/
.checkbox-slider {
  position: relative;
}
.checkbox-slider input {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 0%;
  margin: 0 0;
  cursor: pointer;
  zoom: 1;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}
.checkbox-slider input + span {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.checkbox-slider input + span:before {
  position: absolute;
  left: 0px;
  display: inline-block;
}
.checkbox-slider input + span > h4 {
  display: inline;
}
.checkbox-slider input + span {
  padding-left: 40px;
}
.checkbox-slider input + span:before {
  content: "";
  height: 20px;
  width: 40px;
  background: rgba(100, 100, 100, 0.2);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8);
 /* transition: background 0.1s ease-out;*/
}
.checkbox-slider input + span:after {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0;
  display: block;
  background: #ffffff;
  transition: margin-left 0.1s ease-in-out;
  text-align: center;
  font-weight: bold;
  content: "";
}
.checkbox-slider input:checked + span:after {
  margin-left: 20px;
  content: "";
}
/*.checkbox-slider input:checked + span:before {
  transition: background 0.2s ease-in;
}*/
/*******************************************************


Slider B-flat
*******************************************************/
.checkbox-slider--b-flat {
  position: relative;
}
.checkbox-slider--b-flat input {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 0%;
  margin: 0 0;
  cursor: pointer;
  zoom: 1;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}
.checkbox-slider--b-flat input + span {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.checkbox-slider--b-flat input + span:before {
  position: absolute;
  left: 0px;
  display: inline-block;
}
.checkbox-slider--b-flat input + span > h4 {
  display: inline;
}
.checkbox-slider--b-flat input + span {
  padding-left: 40px;
}
.checkbox-slider--b-flat input + span:before {
  content: "";
  height: 20px;
  width: 40px;
  background: rgba(100, 100, 100, 0.2);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8);
  /*transition: background 0.2s ease-out;*/
}
.checkbox-slider--b-flat input + span:after {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0;
  display: block;
  background: #ffffff;
  /*transition: margin-left 0.1s ease-in-out;*/
  text-align: center;
  font-weight: bold;
  content: "";
}
.checkbox-slider--b-flat input:checked + span:after {
  margin-left: 20px;
  content: "";
}
.checkbox-slider--b-flat input:checked + span:before {
  /*transition: background 0.2s ease-in;*/
}
.checkbox-slider--b-flat input + span {
  padding-left: 40px;
}
.checkbox-slider--b-flat input + span:before {
  border-radius: 20px;
  width: 40px;
}
.checkbox-slider--b-flat input + span:after {
  background: #ffffff;
  content: "";
  width: 20px;
  border: solid transparent 2px;
  background-clip: padding-box;
  border-radius: 20px;
}
.checkbox-slider--b-flat input:not(:checked) + span:after {
  -webkit-animation: popOut ease-in 0.3s normal;
          animation: popOut ease-in 0.3s normal;
}
.checkbox-slider--b-flat input:checked + span:after {
  content: "";
  margin-left: 20px;
  border: solid transparent 2px;
  background-clip: padding-box;
  /*-webkit-animation: popIn ease-in 0.3s normal;
          animation: popIn ease-in 0.3s normal;*/
}
.checkbox-slider--b-flat input:checked + span:before {
  background: #5cb85c;
}
.checkbox-slider--b-flat.checkbox-slider-md input + span:before {
  border-radius: 30px;
}
.checkbox-slider--b-flat.checkbox-slider-md input + span:after {
  border-radius: 30px;
}
.checkbox-slider--b-flat.checkbox-slider-lg input + span:before {
  border-radius: 40px;
}
.checkbox-slider--b-flat.checkbox-slider-lg input + span:after {
  border-radius: 40px;
}
.checkbox-slider--b-flat input + span:before {
  box-shadow: none;
}
/*******************************************************

State Disabled
*******************************************************/
.checkbox-slider--b input:disabled + span:after {
  border: solid transparent 2px;
  border-radius: 40px;
}
.checkbox-slider--b input:disabled + span:before {
  box-shadow: 0 0 0 black;
}
.checkbox-slider--b input:disabled + span {
  color: #777777;
}
/*******************************************************
Indicators
*******************************************************/
input:checked + .indicator-success {
  color: #5cb85c;
}
input:checked + .indicator-info {
  color: #5bc0de;
}
input:checked + .indicator-warning {
  color: #f0ad4e;
}
input:checked + .indicator-danger {
  color: #d9534f;
}
/*******************************************************
Sizes
*******************************************************/
.checkbox-slider-md {
  line-height: 30px;
}
.checkbox-slider-md input + span {
  padding-left: 60px;
}
.checkbox-slider-md input + span:before {
  width: 60px;
}
.checkbox-slider-md input + span:after,
.checkbox-slider-md input + span:before {
  height: 30px;
  line-height: 30px;
}
.checkbox-slider-md input + span:after {
  width: 30px;
  vertical-align: middle;
}
.checkbox-slider-md input:checked + span:after {
  margin-left: 30px;
}
/*******************************************************
Variations
*******************************************************/

.checkbox-slider-info.checkbox-slider--b-flat input:checked + span:before {
  background: #5bc0de;
}

.checkbox-slider-warning.checkbox-slider--b-flat input:checked + span:before,
 {
  background: #f0ad4e;
}

.checkbox-slider-danger.checkbox-slider--b-flat input:checked + span:before {
  background: #d9534f;
}

@media screen and (max-width: 768px) {
  .navbar-nav li a {
    border-radius: 0;
  }

  .nav>li {
      background-color: #82949c;
      border-radius: 0;
  }
}
